# Editors
.vscode/
.idea/
.frama-c/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log

# =========================
# Exclude generated cs files
# =========================
*.g.cs

# all P compiler generated output files.
Bld/*
!Bld/*.ps1
!Bld/*.sh
!Bld/Targets
PGenerated/
*.4ml
!Src/**/Domains/*.4ml
*.zing
!Src/**/Zing/*.zing
stubs.c
*.idb
netcoreapp*/